<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example Selection Module</title>
	<link rel="stylesheet" href="../css/selection.css">
</head>
<body ng-app="App" >
	
	<main ng-controller="testSelectionCtrl">
		<input type="text" ng-model="val"/>
		Val = {{val}}
		<button ng-click="add(val)">Add in List</button>
		<button ng-click="addTest(val)">Add in ListSelected</button>
		<ul>
			<li ng-repeat="item in listTest1 | reverse" selection="listTest1Selected" ng-class="{'selected':$selected}">
				{{item}} <button ng-click="remove(item)">X</button>
			</li>
		</ul>
		<ul>
			<li ng-repeat="item in listTest1Selected">
				{{item}} <button ng-click="removeTest(item)">X</button>
			</li>
		</ul>
	</main>
	
	<script src="../lib/underscore/underscore-min.js" type="text/javascript"></script>
	<script src="../lib/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="../lib/angular/angular.js" type="text/javascript"></script>
	
	<script src="../src/selection.js" type="text/javascript"></script>
	<script src="../src/application.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
</body>
</html>